.git
.github
.idea

_ide_helper.php
.eslintignore
.eslintrc.js
.gitattributes
.gitignore
.php-cs-fixer.php
.phpunit.result.cache
.styleci.yml

.env
.DS_Store
.*ignore
*.log
*.pid
docker-compose.*
phpunit.dusk.xml
phpunit.xml
Dockerfile

tests
vendor
node_modules
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
.docker/storage

docs
ssl
db